<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Diseño Web Estrategico</title>
		<meta charset="uft-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/estilos.css"/>
	</head>
	
	<body>
		<header id="yo" class="Header"> 
			<!-- <figure class="Header-logoContainer"> 
                 <img src="" class="Header-logo">
			</figure> -->
			<h1>Creamos <em>Web</em> Estrategica</h1>
			<nav class="MainMenu">
				<ul class="MainMenu-list">
                    <li  class="MainMenu-item">
                    	<a class="MainMenu-link" href="#">HOME</a>
                    </li> 
                    <li class="MainMenu-item"> 
                    	<a class="MainMenu-link" href="#perfil">CONOCENOS</a>
                    </li> 
                    <li class="MainMenu-item"> 
                    	<a class="MainMenu-link" href="#trabajo">SERVICIOS</a>
                    </li> 
                    <li class="MainMenu-item"> 
                    	<a class="MainMenu-link" href="#contacto">BLOG</a>
                    </li> 
                    <li class="MainMenu-item"> 
                    	<a class="MainMenu-link" href="#contacto">CONTACTANOS</a>
                    </li> 
				</ul>
			</nav>
    	</header> 
		<section>
			<div class="callToAction">
				   <h2> Quieres <em>atraer</em> nuevos clientes, y <em>aumentar</em> tus ventas? <em>Lanza hoy tu Negocio en Internet</em></h2>
				   <div>
				     	 <a href="">CONTRATANOS</a>
				   </div>
			</div>
		</section>
		<footer class="Footer">
		</footer  >
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="../static/js/slider.js"></script>
	</body>
</html>